<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FlixBus</title>
<link rel="stylesheet" type="text/css" href="" th:href="@{/css/style.css}">
</head>
<body>
	
	<h1 th:text="${titolo}">Segnaposto</h1>
	
	<div th:object="${dati}">
	
		<h2 th:text="'Prenotazione di ' + *{utente}"></h2>
		<h2 th:text="'In data ' + *{data}"></h2>
		<h2 th:text="'Tratta ' + *{tratta.partenza} + *{tratta.destinazione}"></h2>
		<h2 th:text="'Numero posti ' + *{posti}"></h2>
		<h2 th:text="'Prezzo ' + *{prezzo}"></h2>
	
	
	</div>

	<div>
		<img alt="" src="https://upload.wikimedia.org/wikipedia/commons/5/56/QR_URL_itmwiki_Main_Page.svg">
	
	</div>
</body>
</html>